.cryptoCard {
  display: flex;

  background-color: #0F0F13;
  padding: 15px 35px;
  padding-left: 20px;
  border-radius: 25px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}
.cryptoCardImage{
  width: 47px;
  height: 47px;
}

.cryptoCardPercentage {
  color: #38FDB6;
  font-size: 18px;
  font-weight: 600;
}
.cryptoCardPercentageMinus {
  font-size: 18px;
  font-weight: 600;
  color: #FD4438;
}
.cryptoCardCoinName {
  color: #B9BDBB;
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  letter-spacing: 1px;
}