.creditCardSkeleton {
  background-color: #0F0F13;
  border-radius: 20px;
  padding: 10px 25px;
  margin: 0 10px;
  max-width: 225px;
  height: 150px;
  min-width: 250px;
  
  &:not(:last-child) {
    margin-right: 17px;
  }
  span {
    border-radius: 10px;
    display: inline-block;
    background-color: #1e1e22;
  }
}

.creditCardSkeletonBalance {
  width: 90px;
  height: 22px;
}
.creditCardSkeletonChip {
  width: 35px;
  height: 25px;
}
.creditCardSkeletonName {
  width: 130px;
  height: 17px;
}