* {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input, select, textarea {
  -webkit-user-select: none;
  -webkit-user-select: auto !important;
  -khtml-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  -o-user-select: auto !important;
  user-select: auto !important;  
}

html, body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  background-color: #000;
  overflow-x: hidden;
  color: #fff;
}

a {
  color: #fff;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background: #5b5b5b;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #424242;
}

label {
  font-size: 15px;
}
