.confirmNotActive {
  display: none;
}
.confirmPopup {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #0f0f13;
  padding: 15px;
  margin: 0 15px;
  min-width: 30%;
  min-height: 150px;
  width: 420px;
}
.confirmOuter {
  width: 100vw;
  height: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.575);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  margin-top: 30px;
}