@keyframes titleAnimate {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.welcomeTitle {
  font-size: 3vw;
  animation: titleAnimate 1s linear;
	font-weight: 900;

  @media screen and (max-width: 575px) {
    font-size: 35px;
  }
  @media screen and (max-width: 410px) {
    font-size: 30px;
  }
}

.welcomeImage {
  @media screen and (max-width: 945px) {
    display: none;
  }
}

.welcomeButton {
  margin-top: 20px;
  
  font-size: 19px;
  font-weight: 500;

  min-width: 200px;
  min-height: 40px;
}

.welcomeTitleGradient {
  background: linear-gradient(-45deg, #3ee899, #2763e4, #e100ff);
	background-size: 300%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	font-size: 5vw;
	letter-spacing: -4px;
	text-transform: uppercase;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: animated_text 10s ease-in-out infinite;
	-moz-animation: animated_text 10s ease-in-out infinite;
	-webkit-animation: animated_text 10s ease-in-out infinite;

  @media screen and (max-width: 830px) {
    font-size: 40px;
  }
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}