.categoriesExpenses {
  margin-top: 15px;
  width: 100%;
  overflow: auto;
}
.categoryExpensesItem {
  border: 10px solid transparent;
  border-radius: 50%;
  flex-wrap: wrap;

  
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.categoriesExpenseItem {
  display: inline-block;
  text-align: center;
  margin: 5px;

  &::before {
    transition: .2s;
    z-index: -1;
    border-radius: 15px;
    opacity: 0;
    background-color: #111;
    padding: 12px;
    width: 110px;
    top: 10px;
    right: 0;
    position: absolute;
    content: attr(data-clue);
  }
  &:hover {
    &::before {
      z-index: 1000;
      opacity: 1;
    }
  }

  img {
    width: 70px;
  }
}